.overlay {
    height: 74vh;
    width: 0;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.877);
    overflow-x: hidden;
    transition: 1.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    padding: 10px;
    width: 100%;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .close-btn {
    position: absolute;
    right: 25px;
    font-size: 60px;
}

.overlay-content {
    max-width: 30vw !important;
    display: block;
    margin: auto;
    color: rgba(255, 255, 255, 0.829);
}

.overlay-content > h3 {
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .close-btn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}